<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadQuest"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxpguS_OjDkxcBxkWkk_q7geYRA9SP5z0" />

        <activity
            android:name=".SessionMainUIScreen"
            android:exported="false" />
        <activity
            android:name=".StartSessionScreen"
            android:exported="false" />
        <activity
            android:name=".LandingScreen"
            android:exported="false" />
        <activity
            android:name=".SignupScreen"
            android:exported="false"
            android:label="@string/title_activity_signup_screen"
            android:theme="@style/Theme.RoadQuest" />
        <activity
            android:name=".SigninScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>